html {
    height: 100%;
  }


  #cocktail {
    max-width: 350px;
    text-align: center;
    padding: 30px 30px 12px 30px;
    color: #fff;
    background-color: #eb5e28;
    border: 4px solid #252422;
    border-radius: 5px;
    margin: 15px;
    min-width: 350px;
    min-height: 600px;
  }
  #cocktail h1 {
    margin: 0 0 15px 0;
    text-transform: uppercase;
  }
  #cocktail img {
    max-width: 300px;
    border: 6px solid #fff;
    border-radius: 150px;
  }
  #cocktail ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #cocktail li {
    padding: 15px 0;
    font-size: 18px;
  }
  #cocktail li:not(:last-of-type) {
    border-bottom: 1px solid #fff;
  }





#prev, #next{

  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

#prev:hover, #next:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}

#prev {
  height: 25%;
  vertical-align: middle;
}

#next {
  height: 25%;

  vertical-align: middle;
}

#main {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}
